#page-alert {
    width: 100%;
    background-color: #000000;
    align-items: center;
    display: flex;
    overflow: auto;
    flex-direction: column;
    opacity: 0.9;
}

#page-alert  svg{
    margin-top: 15%;
    height: 50px;
    width: 50px;
    color: #00FF00;
}

#page-alert  h1 {
    padding-top: 20px;
    padding-bottom: 150px;
    font-size: 40px;
    color: #00FF00;
}

#page-alert a {
    padding-bottom: 80%;
}
  